// Couleurs :
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiaire: #99e2d0;
$color-bg-white: #fff;
$color-bg-gray: #eaeaea;
$color-bg-section: #f7f7f7;

// Police:
$font-roboto: "Roboto", sans-serif;
$font-title: "Shrikhand", cursive;
