.header_menu {
  display: flex;
  align-items: center;

  h1 {
    margin: auto;
  }

  .arrow {
    a i {
      color: black;
    }
  }
}

.bg-img {
  img {
    height: 375px;
    width: 100%;
    z-index: -1;
  }
}

.menu-resto {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 2rem;
  border-radius: 40px 40px 0px 0px;
  background-color: $color-bg-section;
  margin-top: -3.5rem;

  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-family: $font-title;
    }

    & .coeur {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
    }

    & .coeur i {
      font-size: 22px;
      position: relative;
    }
    & .coeur i:hover::after {
      transform: scale(1);
    }
    & .coeur i::after {
      content: "\f004";
      position: absolute;
      top: 0px;
      left: 0px;
      transform: scale(0);
      font-weight: 900;
      background-image: linear-gradient(to bottom, #9356dc, #ff79da);
      -webkit-background-clip: text;
      color: transparent;
      background-clip: text;
      transform-origin: top;
      transition: transform 300ms;
    }
  }
}

.menu-resto button {
  display: block;
  margin: auto;
  margin-top: 3rem;
  width: 60%;
}

.entree,
.plats,
.dessert {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.plats {
  animation-delay: 0.2s;
}

.dessert {
  animation-delay: 0.4s;
}

.menu-plat {
  h2 {
    width: 2.5rem;
    font-size: 1.2rem;
    font-family: $font-roboto;
    font-weight: 300;
    border-bottom: 0.3rem solid $color-tertiaire;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .menu-repas {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-bg-white;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15.0431px;
    margin-bottom: 1rem;
    overflow: hidden;
    height: 70px;
    cursor: pointer;

    .text-menu-repas {
      padding-left: 1rem;
    }

    .text-menu-repas h3 {
      font-size: 0.9rem;
    }

    .text-menu-repas p {
      font-size: 0.7rem;
      font-weight: 300;
    }

    .prix-menu-repas {
      position: absolute;
      right: 90px;
    }

    &:active > .button-menu__check {
      animation: check 600ms ease-in-out both;
    }

    &:active > .button-menu__check i {
      animation: btnRotate 600ms ease-in-out both;
    }
  }
}

.button-menu__check {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99e2d0;
  height: 70px;
  width: 0%;
}

@media screen and (min-width: 769px) {
  .menu-resto {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    .header-section {
      display: flex;
      justify-content: center;

      h1 {
        margin-right: 1rem;
      }
    }

    button {
      width: 20%;
    }
  }

  .menu-plat {
    width: 70%;
    margin: auto;

    .menu-repas {
      .text-menu-repas h3 {
        font-size: 1.1rem;
      }

      .text-menu-repas p {
        font-size: 0.9rem;
      }

      .prix-menu-repas {
        position: absolute;
        right: 70px;
      }
    }
  }
}
